server:
  port: ${PORT:8086}

spring:
  application:
    name: NOTIFICATION-SERVICE

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_URL}

  instance:
    prefer-ip-address: true
