server:
  port: 8088

spring:
  application:
    name: NOTIFICATION-SERVICE

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true
    hostname: localhost

websocket:
  path: /ws/live-score
