server:
  port: ${PORT:8080}

spring:
  application:
    name: gateway-service

  cloud:
    gateway:

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          "[/**]":
            allowedOrigins: "*"
            allowedHeaders: "*"
            allowedMethods: "*"
            allowCredentials: true

      routes:

        - id: team-service
          uri: https://team-production-35c9.up.railway.app
          predicates:
            - Path=/teams/**
          filters:
            - RemoveRequestHeader=Cookie

        - id: player-service
          uri: https://player-production-2472.up.railway.app
          predicates:
            - Path=/players/**
          filters:
            - RemoveRequestHeader=Cookie

        - id: match-service
          uri: https://match-production-5555.up.railway.app
          predicates:
            - Path=/matches/**
          filters:
            - RemoveRequestHeader=Cookie

management:
  endpoints:
    web:
      exposure:
        include: "gateway,health,info,metrics,env,beans"

  endpoint:
    gateway:
      enabled: true

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
