server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: team-service
          uri: lb://TEAM-SERVICE
          predicates:
            - Path=/teams/**

        - id: player-service
          uri: lb://PLAYER-SERVICE
          predicates:
            - Path=/players/**

        - id: match-service
          uri: lb://MATCH-SERVICE
          predicates:
            - Path=/matches/**

        - id: scoring-service
          uri: lb://SCORING-SERVICE
          predicates:
            - Path=/api/scoring/**

        - id: stats-service
          uri: lb://STATS-SERVICE
          predicates:
            - Path=/api/stats/**

        - id: notification-websocket
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/ws/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
