server:
  port: ${PORT:8761}     # Render uses PORT env variable, fallback to 8761 locally

spring:
  application:
    name: discovery-service

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  server:
    enable-self-preservation: false

  dashboard:
    enabled: true     # REQUIRED for Eureka UI on Spring Boot 3

  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
